/*//RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
a,
button,
textarea {
  font: inherit;
}
/*//RESET*/
body{
  border: 2px solid blue;
  padding: 1rem;
  width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: rgb(221, 220, 220);
}
.Game-ship-heading{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 800;
  font-size: 2REM;

}

.gamepad-img-div{
  
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
}

.purchase-button-div{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-tag-itself{
  background-color: gray;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button-tag-itself:hover{
  transform: scale(1.03);
  cursor: pointer;
  transition: all 0.3s ease;
}

#errormessage{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: red;
}